img {/*画像の長押しとドラッグ禁止*/
  pointer-events: none;
-webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  touch-callout:none;
  user-select:none;
}


body {
user-select: none /* 選択を禁止する */
-webkit-touch-callout:none; /* リンク長押しのポップアップを無効化 */
-webkit-user-select:none; /* テキスト長押しの選択ボックスを無効化 */
color: #ffffff;
background:
	linear-gradient(27deg, #0e0f14 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #0e0f14 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #14151f 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #14151f 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #14151c 10px, transparent 10px),
	linear-gradient(#15151c 25%, #12131a 25%, #12131a 50%,
		transparent 50%, transparent 75%, #191b24 75%, #191b24);
	background-color: #0c0d12;
	background-size: 20px 20px;
}


html {
	font-family: 'M PLUS 1p', sans-serif;
}

/*div{
 height: 1000px;
}
*/


